{% extends 'VocabularyBundle::base.html.twig' %}
{% trans_default_domain 'VocabularyBundle' %}

{% block content %}
    <h1>{{ 'form.title'|trans }}</h1>
    {{ form_errors(form) }}
    <form action="{{ action_path }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.slug) }}
        {{ form_row(form.value) }}

        {{ form_rest(form) }}
        <hr>
        <input type="submit" value="{{ 'form.save'|trans }}" class="btn btn-primary"/>
        <a href="{{ path('vocabulary_manage_index', {type: type, lang: lang}) }}">{{ 'form.cancel'|trans }}</a>
    </form>

{% endblock %}